body {
	background-image: url(../images/movie.jpg); 
	background-size: cover;
}

* {
	color: white;
	font-size: 24px;

}

.box {
	margin: 20% 20%;
	text-align: center;

/*	background-color: white;*/
}
